<br>
<footer class="site-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h6>About</h6>
          <p>
            Dining Destiny: Your Ultimate Guide to Culinary Adventures. Discover curated dining spots and embark on a journey where you'll experience exceptional cuisine and local flavors. Built with EJS, Bootstrap, Node.js, and Mapbox.
          </p>
        </div>
    
        <div class="col-md-4">
          <h6>Support</h6>
          <ul class="footer-links">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">User Guide</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div>
    
        <div class="col-md-4">
          <h6>For Businesses</h6>
          <ul class="footer-links">
            <li><a href="#">List Your Restaurant</a></li>
            <li><a href="#">Advertise with Us</a></li>
            <li><a href="#">Partnership Opportunities</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Akshita</a>.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons">
            <li><a class="facebook" href="#" aria-label="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a class="twitter" href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
